    <div class="row">
        
        <div class="col s5 push-s1">
            
            <p class="Questions">Frequently Asked Questions</p>

            <ul class="collapsible">
                <li class="active">
                  <div class="collapsible-header">Where do we deliver?</div>
                  <div class="collapsible-body"><span>110%! We use Shopify Payments for all checkouts and believe your security is a main priority. Shopify Payments is the worlds leading payment platform for e-commerce stores. Your details are never saved and no one will have access to them. Shopify also guarantees the safety of your payment, giving you further peace of mind.
                </span></div>
                </li>
              </ul>
              

              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">How can I make a return?</div>
                  <div class="collapsible-body"><span>110%! We use Shopify Payments for all checkouts and believe your security is a main priority. Shopify Payments is the worlds leading payment platform for e-commerce stores. Your details are never saved and no one will have access to them. Shopify also guarantees the safety of your payment, giving you further peace of mind.
                </span></div>
                </li>
              </ul>
                

              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Can I cancel or modify my order?</div>
                  <div class="collapsible-body"><span>110%! We use Shopify Payments for all checkouts and believe your security is a main priority. Shopify Payments is the worlds leading payment platform for e-commerce stores. Your details are never saved and no one will have access to them. Shopify also guarantees the safety of your payment, giving you further peace of mind.
                </span></div>
                </li>
              </ul>
                    
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Is my information secure?</div>
                  <div class="collapsible-body"><span>110%! We use Shopify Payments for all checkouts and believe your security is a main priority. Shopify Payments is the worlds leading payment platform for e-commerce stores. Your details are never saved and no one will have access to them. Shopify also guarantees the safety of your payment, giving you further peace of mind.
                </span></div>
                </li>
              </ul>
                  
        </div>

        <div class="col s5 push-s1 Still">
            
            <p class="Questions">Still Have Questions?</p>

            <div class="col s12 QuesTitle">Name</div>
        <div class="row">
          <div class="input-field col s12">
              <input id="first_name" type="text" class="validate">
            <label for="first_name" class="nameLabel">Name</label>
          </div>
        </div>
        
        <div class="col s12 QuesTitle CorrectTitle">Email</div>
          <div class="row">
            <form>
              <div class="row">
                <div class="input-field col s12 padInput">
                  <input id="email" type="email" class="validate">
                  <label for="email" class="padLabel">Email</label>
                  <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                </div>
              </div>
            </form>
          </div>

          <div class="row">
            <div class="col s12 QuesTitle MessTitle CorrectTitle">Message</div>
            <form>
              <div class="row">
                <div class="input-field col s12 padInput">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1" class="padLabel">Textarea</label>
                </div>
              </div>
            </form>
          </div>

          <a class="waves-effect waves-light btn-small col s12">Send</a>

        </div>

      </div>




