.container{
    width: 90%;
}

h6, h5{
    font-family: lust-text, serif;
    font-weight: 900;
    font-style: normal;
}

hr{
    width: 98.8% !important;
    margin: 20px 0 0 0 !important;
    padding: 0;
}

#specialhr{
    margin-block-start: 50px !important;
}

.quote{
    margin-top: 100px;
    border: 0.5px solid #EEE;
    border-radius: 5px;
}

.contents{
    padding:10px 0 10px 0;
}

.Subtotal{
   padding: 10px 0 10px 0;
}

.Shipping{
    padding: 10px 0 40px 0;
 }

 .total{
    padding: 10px 0 40px 0;
 }

 .btn-large{
     width: 90%;
     margin: 20px 0;
     border-radius: 8px;
     background-color: #EC4E52;
 }
 