.container{
    width: 90%;
    margin: auto;
}

h6, h5{
    font-family: lust-script-display, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

hr{
    width: 98.8% !important;
    margin: 20px 0 0 0 !important;
    padding: 0;
}

#specialhr{
    margin-block-start: 50px !important;
}

.quote{
    border: 0.5px solid #EEE;
    border-radius: 5px;;
    box-shadow: 5px;
}

.contents{
    padding:10px 0 10px 0;
}

.Subtotal{
   padding: 10px 0 10px 0;
}

.Shipping{
    padding: 10px 0 40px 0;
 }

 .total{
    padding: 10px 0 40px 0;
 }