<hr>
<footer class="page-footer white">

    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <a href=""><img class="logo-footer" src="./assets/Logo/Logo_azul.svg" alt=""></a>
        </div>

        <div class="col l2 s12">
          <h5 class="white-text">NAVIGATION</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Store</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
          </ul>
        </div>

        <div class="col l2 s12">
            <h5 class="white-text">LEGAL</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Terms & Conditions</a></li>
            </ul>
          </div>

          <div class="col l2 s12">
            <p class="white-text">Remember to always add a little bit of Love on Top to 
                your perfect gift ideas 💕
                <br><br>
                Call us to buy wholesale! (442) 234 6505</p>
          </div>


      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>