.row{
    margin: 0;
}

#logowrapper{
    height: 64px;
}
#logo{
    width: 2em;
}

.banner{
    margin: 0;
   text-align: center;
   background: #07062B;

}

.menu a{
    color: #0c1726;
}

.nomargin{
    margin: 0;
    padding: 0;
}