 <div class="col m3 s6">
      <div class="card center-align">
        <div class="card-image">
          <img src="../../../assets/products/{{data.img}}.jpg">
         
        </div>
        <div class="card-content">

          <small> {{data.category}} </small>
          <span class="card-title">{{data.title}}</span>
          <p>{{data.price}}</p>
        </div>

        <div>
          <a class="hoverable btn-small" (click)="addtocart()" >add to cart</a>
        </div>
      </div>
</div>

