.container{
    width: 90%;
}

.card{
    box-shadow: none !important;
    border: none;
}

.btn-small{
    background-color: #EC4E52;
}

.object-title{
    font-family: lust-text, serif;
    font-weight: 500;
    font-style: normal;
}