<div class="hero">
  <img src="./assets/Home/banner.png" alt="banner" style="width:100%;">
  <div class="centered">
    <h2 class="main-title">Your thoughtful gift resource</h2>
    <h5>We love gifts as much as you do</h5>
    <a routerLink="/store" class="waves-effect waves-light btn hoverable">Check all products!</a>
  </div>
</div>

<div class="section2">
  <div class="title">
    <h3 class="title">Bestsellers</h3>
  </div>

  <div class="row bestsellers container">

    <div class="col s3">
      <!-- card 1 -->
      <div class="row" >
        <div class="col s12" id="topcardleft">
          <div class="card">
            <div class="card-image">
              <img src="../../../assets/Home/Selena.png">
              <span class="card-title"><a routerLink="/store" class="waves-effect waves-light btn bestseller-btn hoverable">LED Lamps</a></span>
            </div>
          </div>
        </div>
      </div>

      <!-- card 2 -->
      <div class="row">
        <div class="col s12" id="bottomcardleft">
          <div class="card">
            <div class="card-image">
              <img src="../../../assets/Home/Harry.png">
              <span class="card-title"><a routerLink="/store"  class="waves-effect waves-light btn bestseller-btn hoverable">LED Lamps</a></span>
            </div>
          </div>
        </div>
      </div>

    </div><!-- col 1 -->


    <div class="col s6">
      <!-- card 1 -->
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <img src="../../../assets/Home/LED1.png">
              <span class="card-title"><a routerLink="/store"  class="waves-effect waves-light btn bestseller-btn hoverable">LED Lamps</a></span>
            </div>
          </div>
        </div>
      </div>
      
    </div> <!-- col 2 -->


    <div class="col s3">
      <!-- card 1 -->
      <div class="row" id="topcardright">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <img src="../../../assets/Home/ornaments.png">
              <span class="card-title"><a routerLink="/store"  class="waves-effect waves-light btn bestseller-btn hoverable">Ornaments</a></span>
            </div>
          </div>
        </div>
      </div>

      <!-- card 2 -->
      <div class="row" id="bottomcardright">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <img src="../../../assets/Home/Woodwork.jpg">
              <span class="card-title"><a routerLink="/store"  class="waves-effect waves-light btn bestseller-btn hoverable">Woodwork</a></span>
            </div>
          </div>
        </div>
      </div>
    </div><!-- col 3 -->

  </div>
</div>


<hr class="center-align">

  <!-- TESTIMONIOS -->

<div class="section3 testimonials">

  <div class="title">
    <h3 class="title">Testimonials</h3>
  </div>

  <div class="row  container center-align">

    <div class="col s4 center-align"><!-- col 1 -->
      <i class="medium material-icons">format_quote</i>
      <p>Just loving these Cake Toppers</p>

      <div class="collection-item avatar row">
          <img src="../../../assets/Home/user.png" alt="" class="circle col s2  offset-s3">
          <p class="col s3">– Cassbakez
          </p>
      </div>
    </div><!-- col 1 -->


    <div class="col s4"><!-- col 2 -->
      <i class="medium material-icons">format_quote</i>
      <p>Bottle cutter worked great! 
        Thanks again</p>

      <div class="collection-item avatar row">
          <img src="../../../assets/Home/user.png" alt="" class="circle col s2  offset-s3">
          <p class="col s4">–  Chris Weekes
          </p>
      </div>     
    </div> <!-- col 2 -->
      

    <div class="col s4"><!-- col 3 -->
      <i class="medium material-icons">format_quote</i>
      <p>Thank you so much my son loved it!</p>

      <div class="collection-item avatar row">
          <img src="../../../assets/Home/user.png" alt="" class="circle col s2  offset-s3">
          <p class="col s4">– Sam Smith
          </p>
      </div>
    </div><!-- col 3 -->
  

  </div>
</div> <!-- testimonios fin-->





<hr class="center-align">




<!-- NEW PRODUCTS -->
<div class="section4 center-align">
  <div class="title">
    <h3 class="title">NEW PRODUCTS</h3>
  </div>

  <div class="row newproducts container">

    <div class="col s4">
      <!-- card 1 -->
      <div class="row">
        <div class="col s12">
          <div class="card hoverable">
            <div class="card-image">
              <a routerLink="/store"><img src="../../../assets/Home/cuptags.png"></a>
            </div>
          </div>
        </div>
      </div>
      
    </div> <!-- col 1 -->

    <!-- CENTER -->
    <div class="col s4">

      <div class="row">
        <!-- top card 1 -->
        <div class="col s6 row" id="center-card">
          <div class="col s12">
            <div class="card hoverable">
              <div class="card-image">
                <a routerLink="/store"><img src="../../../assets/Home/stitch.png"></a>
              </div>
            </div>
          </div>
        </div>
  
        <!-- top card 2 -->
        <div class="col s6 row" id="center-card">
          <div class="col s12">
            <div class="card hoverable">
              <div class="card-image">
                <a routerLink="/store"><img src="../../../assets/Home/keropi.png"></a>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- FIN TOP ROW -->

      <div class="row">
        <!-- BOTTOM card 1 -->
        <div class="col s6 row" id="center-card">
          <div class="col s12">
            <div class="card hoverable">
              <div class="card-image">
                <a routerLink="/store"><img src="../../../assets/Home/kuromi.png"></a>
              </div>
            </div>
          </div>
        </div>
  
        <!-- BOTTOM card 2 -->
        <div class="col s6 row" id="center-card">
          <div class="col s12">
            <div class="card hoverable">
              <div class="card-image">
                <a routerLink="/store"><img src="../../../assets/Home/pikachu.png"></a>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- FIN BOTTOM ROW -->
      <!-- FIN CENTER -->
    

    </div><!-- col 2 -->

    <div class="col s4">
      <!-- card 1 -->
      <div class="row">
        <div class="col s12">
          <div class="card hoverable">
            <div class="card-image">
              <a routerLink="/store"><img src="../../../assets/Home/hedwig.png"></a>
            </div>
          </div>
        </div>
      </div>
      
    </div> <!-- col 3 -->

  </div>

  <a routerLink="/store" class="waves-effect hoverable btn-large">View All</a>
</div>


  