<div class="container center-align">
    
    <div class="head-title center-align container">
        <h3>Who are we?</h3>
        <p>Our family business is based on love and customization, our main goal is to engage with our costumers needs and to make them happy.</p>
    </div>
    
    <hr id="hr-aboutus">
    
    <div class="row valign-wrapper history-image">
        <div class="col m6 s12 history-image" id="history-image">
            <img class="img-product" src="../../../assets/Aboutus/product.jpg" alt="">
        </div>
    
        <div class="col m6 s12 left" id="history">
            <h3>History</h3>
            <p>We were born in Imperial Valley, California in 2019.  A year before COVID-19 attacked the planet Earth. 
                <br> <br>
                From the iniciative of Virginia Manzano, a Mechanical Engineer with interest in 3D printing and an enteprenour father pushing his daughter to do so, AM Design was born as a branch of Alta Mar Corporation focused on design and 3D printing. 
                <br> <br>
                In need of marketing and design, she invited her sister Kimberley to help her in this field, and in need of manual work, her mother Edilia came in to glue the glittler perfectly. 
                <br> <br>
                After a while, new improvements came and “AM Design” wasn’t enough, so after a loooot of thinking, they came up with the new name “Love on Top”, representing the special detail we like to add to our gifts for the people we love.</p>
        </div>
    </div>
    
    <hr id="hr-aboutus">

    <div class="row container">
        <div class="col m6 s12 ">
            <h3>Mission</h3>
            <p>our main goal is to engage with our costumers needs and to make them happy. </p>
        </div>

        <div class="col m6 s12">
            <h3>Vission</h3>
            <p>Be a 100% online based custom gift shop in all the United States and the #1 choice of americans. </p>
        </div>
    </div>

    <hr id="hr-aboutus">

    <div class="row container">
        <div class="col m6 s12">
            <div class="row">
                <img class="img-member" src="../../../assets/Aboutus/Virginia.png" alt="Virginia">
                <h3>Virginia Manzano</h3>
                <h5>CEO</h5>
                <p>This is a description of team member</p>
            </div>
        </div>

        <div class="col m6 s12">
            <img class="img-member" src="../../../assets/Aboutus/Elena.png" alt="Elena">
            <h3>Elena Magallón</h3>
            <h5>CSO</h5>
            <p>This is a description of team member</p>
        </div>
    </div>
</div>
