<div class="card horizontal valign-wrapper">

    <div class="card-image">
      <img src="../../../assets/products/{{product.img}}.jpg">
    </div>

    <div class="card-stacked">
      <div class="card-content">
        <small class="cat"> {{product.category}} </small>
        <span class="card-title">{{product.title}}</span>
        <p class="qty">{{product.qty}}</p>
        <p>{{product.price}}</p>
      </div>

      <div class="card-action center-align">
          <div class="quantity row">
              <div class="col l7 valign-wrapper">
                <a class="plus-btn col l1" href="">
                    <i class="material-icons" (click)="removefromcart()">remove</i>
                </a>
                <input type="text" class="center-align col l2" value="{{product.qty}}">
                <a class="plus-btn col l1" href="">
                    <i class="material-icons" (click)="addtocart()" >add</i>
                </a>
              </div>

          </div>

      </div>
    </div>
  </div>